@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: 17 55% 47%;
  --primary-foreground: 0 0% 98%;

  --secondary: 30 30% 94%;
  --secondary-foreground: 0 0% 10%;

  --accent: 25 100% 28%;
  --accent-foreground: 0 0% 98%;

  --muted: 42 86% 90%;
  --muted-foreground: 25 20% 30%;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* For dark theme variables */
    /* eg:
    --primary: 17 60% 40%;
    --primary-foreground: 0 0% 100%;
    */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: var(--font-geist-sans, system-ui), sans-serif;
}
